@at-root {
    .link-card {
        border-bottom: 5px solid $color-chateau-green;
    }

    .link-card__header-img {
        display: block;
        max-width: 100%;
    }

    .link-card__main {
        padding: $spacing * 0.75;
        background-color: white;
        color: $color-dove-grey;
        line-height: 1.4;
    }

    .link-card__title {
        font-size: 1.6rem;
        margin-bottom: $spacing * 0.5;
        color: black;
    }
}
