@at-root {
    .link-card {

    }

    .link-card__header-img {
        display: block;
        max-width: 100%;
    }

    .link-card__main {
        padding: $spacing;
        background-color: white;
        color: $color-dove-grey;
        line-height: 1.4;
    }
}
