$color-white: #fff;

$color-config: #8dde5b;
$color-keppel: #3ba68e;
$color-chateau-green: #34B664;

$color-pink: #ffb6c1;
$color-vin-rouge: #913b54;

$color-tan-hide: #f9835b;

$color-scooter: #38acd1;
$color-jelly-bean: #2570a9;

$color-east-side: #9e8ac7;
$color-smoky: #655884;

$color-dove-grey: #666;
$color-mine-shaft: #333;
$color-black: #000;
