@at-root {	

    // @include selection($color-white, $color-keppel);

    ::selection { 
        color: $color-white; 
        background: $color-keppel; 
    }

    * {
        @include box-sizing(inherit);
    }


    body {
        @include box-sizing();
        font-size: $font-size-base;
        font-family: $font-family-primary;
    }


    // Headings
    //-------------------

	%heading {
		font-family: $font-family-secondary;
	}

	h1 {
		@extend %heading;
		font-size: 3.5rem;
	}

	h2 {
		@extend %heading;
		font-size: 2.6rem;
        font-weight: 200;
	}

	h3 {
		@extend %heading;
		font-size: 2rem;
	}

	h4 {
		@extend %heading;
	}

	h5 {
		@extend %heading;
	}

	h6 {
		@extend %heading;
	}


    // Links
    //-------------------

    a {
        text-decoration: none;
        outline: none;
        color: inherit;


        &:visited {
            color: inherit;
        }

        &:hover {
            color: $color-keppel;
        }

        &:focus {
            text-decoration: underline;
        }
    }




    // TODO: move these to another file


    .hero-heading {
        color: $color-white;
        text-align: center;
        line-height: 1.25;
    }

    .hero-heading--primary {
        margin: 0 0 $spacing * 2 0;
    }

    .hero-heading--secondary {
        text-transform: lowercase;
    }

    .section {
        min-height: 100vh;
        padding: 50px 0;
    }

    .page-nav {
        position: absolute;
        top: 0;
        width: 100%;
        padding: $spacing;
        color: $color-white;
        text-align: center;
        z-index: 1;

        a {
            display: inline-block;
            padding: $spacing / 2;
            margin: 0 $spacing / 2;
            text-decoration: none;
            background-color: rgba($color-pink, 0.5);

            &:hover {
                color: inherit;
                background-color: rgba($color-pink, 0.6);
            }
        }
    }

    .section__container {
        margin: 0 $spacing * 0.75;
    }

    .section__copy {
        margin: $spacing * 0.75 0;
        color: $color-dove-grey;
        line-height: 1.4;
    }

    .section__heading {
        font-size: 2.2rem;
    }

    .section--center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section--about {
        .section__heading {
            margin: $spacing * 1.25 0;
            text-align: center;
        }
    }

    .section--portfolio {
        .section__heading {
            margin: $spacing * 1.25 0;
            color: $color-white;
        }
    }

    .section--footer {
        min-height: auto;
        text-align: center;
        color: $color-dove-grey;
    }

    .foreground-section {
        position: relative;
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        z-index: 1;
    }

	.parallax-section {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        //background-attachment: fixed;
        &--blasted { 
            background-image: url(../img/blasted.jpg); 
            background-position: 60% 0;
        }
        &--sky { background-image: url(../img/sky3.jpg); }
    }


    .profile-pic {
        position: relative;
        border: 7px solid $color-conifer;
        width: 230px;
        height: 230px;
        margin: auto;
        border-radius: 100%;
        overflow: hidden;
        z-index: 2;

        &__glitch-img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    .character-stat {
        width: attr(data-width percentage, 100%);
        padding: $spacing / 2;
        margin: $spacing / 2 0;
        color: $color-white;

        &:nth-of-type(1n) { background-color: $color-jelly-bean; }
        &:nth-of-type(2n) { background-color: $color-vin-rouge; }
        &:nth-of-type(3n) { background-color: $color-scooter; }
        &:nth-of-type(4n) { background-color: $color-east-side; }
    }

    .character-stat--front-end  { width: 100%; }
    .character-stat--agile      { width: 60%; }
    .character-stat--back-end   { width: 45%; }
    .character-stat--devops     { width: 27%; }
}
